body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.footer {
  margin-bottom: 0;
  padding: 1rem;
  background-color: #282d5a;
  text-align: center;
}

.override-background-colour {
  background-color: #282d5a;
  border-color: #282d5a;
}

.font-color {
  color : #9d9d9d;
}

.tilesTitle {
  width: 500px;
}

.header-height {
  height: 20%;
}

.body-height {
  height: 60%;
  min-height: 60%;
}

.footer-height {
  height: 20%;
}

.custom-table {
  table-layout: fixed;
  word-wrap: break-word;
}